body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  direction: rtl;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 60%;
}

.nav-item a:hover {
  color: chocolate;
}

.fa-cart-shopping {
  color: #aa0000;
}
.logo-location {
  width: 100%;
  height: 150px;
  padding-top: 100px;
  text-align: center;
}

.about-section {
  padding: 50px;
  text-align: center;
  margin-top: 350px;
  color: black;
}

.about-section p {
  color: red;
  font-weight: bold;
}

.map-location p {
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 777px) {
  .nav-link {
    padding: 18px 0;
    min-width: 120px;
  }
  .navbar {
    padding: 0;
  }
}

@media (min-width: 1201px) and (max-width: 1366px) {
}
/*medium screen*/
@media (min-width: 992px) and (max-width: 1200px) {
}

/*tablet screen*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*mobil screen*/
@media (min-width: 320px) and (max-width: 767px) {
}
